<Page xmlns="http://schemas.nativescript.org/tns.xsd" 
    xmlns:nativescript-image="nativescript-image"
    xmlns:ui="components/header-bar" actionBarHidden="true" loaded="loaded" class="page">
    <ScrollView>
        <StackLayout>
            <GridLayout rows="auto, auto">
                <nativescript-image:Img id="dp" row="0" width="120" height="120" class="display-pic" horizontalAlignment="center" showProgressBar="true" roundedCornerRadius="12" roundTopRight="true" roundTopLeft="true" roundBottomRight="true" roundBottomLeft="true" tap="{{selectImage}}" placeholderImageUri="~/assets/images/unknown.jpg" src="{{ displayPicture }}"/>
                <Label text="&#xe9f8;" verticalAlignment="top" id="loader" visibility="collapsed" horizontalAlignment="center" class="fi loader" textWrap="true" />            
                <StackLayout row="1" orientation="vertical" class="container" style="margin-bottom:2;">
                    <StackLayout orientation="horizontal" class="rounded-input1">
                        <TextField id="dispaly-name" text="{{ appModel.user.displayName }}" hint="Display name" secure="false" returnKeyType="done" autocorrect="true"/>
                    </StackLayout>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</Page>