.page.login {
    background-color: #ffffff;
}

.login-btn {
    margin-top: 10;
}

.text-link {
    margin-left: 5;
}

.country-code-label{
    margin-top: 1.5;
    margin-right: 2;
    font-size: 17.5;
    text-align: right;
    /* width: 35; */
}
