/* The Rev Tab */

.sub-frame {
    height: 91%;
    width: 100%;
}

.custom-tab {
    height: 88;
    width: 100%;
    border-top-width: 1; 
    border-top-color: #E8E8E9;
}

.custom-tab .tab-button.active {
    color: #91d377;
}

.custom-tab .tab-button.active .tab-icon {
    background: #91d377;
    color: #ffffff;
}

.custom-tab .tab-button {
    border-color: transparent;
    border-width: 1;
    margin-left: 0;
    width: 25%;
    text-align: center;
    color: #91d377;
    border-top-width: 1; 
    border-top-color: #d4d4d4;
    padding-top: 5;
    border-radius: 0;   
}

.custom-tab .tab-button .tab-icon {
    font-size: 24;
    border-radius: 25;
    color: #91d377;
    padding: 6;
    width: 38;
    height: 38;
    font-family: 'fontisto'
}

.custom-tab .tab-button .tab-title {
    font-size: 11;
}