.page.login {
    background-color: #ffffff;
}

.logo-on-login {
   margin-bottom: 50;
}

.login-btn {
    margin-top: 10;
}

.text-link {
    margin-left: 5;
}
.country-code-label{
    margin-top: 1.5;
    margin-right: 2;
    font-size: 17.5;
    text-align: right;
}
.signup-title{
    font-size: 26;
    font-weight: 300;
    text-align: center;
}
.password-content{
    padding-top: 0;
    padding-right: 12;
    padding-bottom: 0;
}

.label{
    margin-top: 10;
}

.hide-show-pass{
    font-size: 18;
    color: #e0e0e0;
    width: 50;
    height: 40;
    padding: 0;
    z-index: 0;
    background-color: transparent;
    border-width: 0;
    text-align: right;
}